.grad {
    background-image: linear-gradient(to right, rgb(3, 32, 124), rgb(19, 180, 230));
}

#menu {
    border-style: none;
    color: rgb(248, 248, 248);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}

.pilmenu {
    width: 2.5%;
    margin-top: 10px;
    
}

.bildspel {
    width: 15em;
    height: 15em;
    margin-left: 3em;
    
}

#bilder
{
    border-style: solid;
}

<<<<<<< Updated upstream
.show{
    display: none;
    
}

=======
#menu{
background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#mylinks {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #myLinks a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {display:block;}

>>>>>>> Stashed changes
