.grad {
    background-image: linear-gradient( rgb(160, 216, 233), rgb(47, 88, 99));
}

.grad2 {

    background-image: linear-gradient( rgb(227, 237, 252), rgb(172, 210, 235), rgb(5, 131, 131));
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(40, 75, 85);
}

#menu {
    border-style: none;
    color: rgb(248, 248, 248);
    text-align: center;
    font-size: 50px;
    margin: 0;

}

.pilmenu {
    width: 2.5%;
    margin-top: 10px;
    
}

.bildspel {
    width: 15em;
    height: 15em;
    float: center;
    
}

/* #bilder
{
    border-style: solid;
} */

.show{
    display: none;
}

#myLinks{
    border: none;
    margin-top: 0%;
    
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    margin: 1em;
    color: rgb(47, 88, 99);
    border-bottom: dotted rgb(5, 131, 131);
}


a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(40, 75, 85);
}

#text{
    font-size: 2em;
}
li{
    margin-bottom: 0.7em;
}

#welcome{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*vilmas sida*/
#vpre{
    margin-bottom: 25em;
    margin-top: 2em;
    
}

#vilmabild{
    float: left;
    margin-right: 4em;
    margin-left: 2em;
}

#vdiagram{
    border-left: 0.5em solid grey;
    margin-left: 2em;
}

#vstapel1{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 10em;
}

#vstapel2{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 30em;
    margin-top: 2em;
}

#vstapel3{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 58em;
    margin-top: 2em;
}

#vstapel4{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 18em;
    margin-top: 2em;
}

#vstapel5{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 20em;
    margin-top: 2em;
}

#vnamn{
    color: white;
    font-size: 3.3em;
    margin-top: 0.5em;
    margin-bottom: 0,5em;
    text-align: center;
}

#vmenu{
    border: solid transparent;
    border-left: none;
    border-right: none;
    margin: 0%;
}

#tabellrubrik{
    color: grey;
    font-size: 2em;
    margin-left: 0.5em;
}

.tabelltext{
    color: white;


}



#presentation{
    color: black;
}

.presentation{
    text-align: center;
}

#bagage {
    position: absolute;
    top: 0px;
    right: 0px;
    width:  10%;
    height: 20%;
}
#hej {
    display: none;
}

#hej{
    width: 4em;
    height: 4em;
    float: right;
    position: absolute;
}