.grad {
    background-image: linear-gradient( rgb(139, 235, 241), rgb(79, 176, 189));
}

.grad2 {

    background-image: linear-gradient( rgb(227, 237, 252), rgb(145, 221, 240), rgb(24, 167, 167));
   
}

.grad3 {
    background-image: linear-gradient(rgb(67, 167, 167), rgb(140, 212, 212), rgba(56, 156, 160, 0.644));
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(40, 75, 85);
}

p{
    font-size: 0.5em;
}

#menu {
    border: solid rgb(5, 131, 131) 0.01em;
    color: rgb(248, 248, 248);
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-shadow: 0.03em 0.03em rgb(139, 139, 139);

}

.pilmenu {
    width: 2.5%;
    margin-top: 10px;
    
}

.bildspel {
    width: 15em;
    height: 15em;
    float: center;
    
}

/* #bilder
{
    border-style: solid;
} */

.show{
    display: none;
}

.menylista {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
    margin: 1em;
    color: rgb(47, 88, 99);
    border-bottom: dotted rgb(5, 131, 131);
}


a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(40, 75, 85);
}

#text{
    font-size: 2em;
}

#welcome{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*vilmas sida*/
#vpre{
    margin-bottom: 25em;
    margin-top: 2em;
}

#vptext{
    font-size: 1em;
}

#vilmabild{
    float: left;
    margin-right: 4em;
    margin-left: 2em;
}

#vdiagram{
    margin-left: 2em;
    padding-left: 0.2em;   
    margin-right: 2em;
}

#vstapel1{
    border: 0.04em ridge rgba(248, 248, 248, 0.185);
    margin-right: 17em;
    border-radius: 1.5em;
    padding-left: 2em;
    font-size: 0.83rem;
    height: 4em;
    text-shadow: 0.03em 0.03em rgb(153, 153, 153);
}


#vstapel2{
    border: 0.04em ridge rgba(248, 248, 248, 0.185);
    margin-right: 30em;
    margin-top: 2em;
    border-radius: 1.5em;
    padding-left: 2em;
    font-size: 0.83rem;
    height: 4em;
    text-shadow: 0.03em 0.03em rgb(153, 153, 153);

}

#vstapel3{
    border: 0.04em ridge rgba(248, 248, 248, 0.185);
    margin-right: 58em;
    margin-top: 2em;
    border-radius: 1.5em;
    padding-left: 2em;
    font-size: 0.83rem;
    text-shadow: 0.03em 0.03em rgb(153, 153, 153);

}

#vstapel4{
    border: 0.04em ridge rgba(248, 248, 248, 0.185);
    margin-right: 18em;
    margin-top: 2em;
    border-radius: 1.5em;
    padding-left: 2em;
    font-size: 0.83rem;
    text-shadow: 0.03em 0.03em rgb(153, 153, 153);
}

#vstapel5{
    border: 0.04em ridge rgba(248, 248, 248, 0.185);
    margin-right: 20em;
    margin-top: 2em;
    border-radius: 1.5em;
    padding-left: 2em;
    font-size: 0.83rem;
    text-shadow: 0.03em 0.03em rgb(153, 153, 153);
}

.div1{
    float:left;
}

.yttretabell{
    border:none;
    background-image: linear-gradient(rgb(73, 162, 173), rgb(10, 138, 138), rgb(75, 162, 173));
    border-radius: 1.5em;

}

.procenten{
    color: white;
    float: right;
    padding: 0.1em;
    margin-right: 1em;
}

#vnamn{
    color: white;
    font-size: 3.3em;
    margin-top: 0.5em;
    margin-bottom: 0,5em;
    text-align: center;
}

#vmenu{
    border: solid transparent;
    border-left: none;
    border-right: none;
    margin: 0%;
}

#tabellrubrik{
    color: rgb(252, 249, 249);
    text-shadow: 0.03em 0.03em rgb(138, 137, 137);
    font-size: 2.5em;
    padding-top: 1em;
    border-bottom: rgb(5, 131, 131) double 0.12em;
}

.tabelltext{
    color: white;
}



#presentation{
    color: black;
}

.presentation{
    text-align: center;
}

#bagage {
    position: absolute;
    top: 0px;
    right: 0px;
    width:  10%;
    height: 20%;
}


#jBild{
    display: none;
    width: 4em;
    height: 4em;
    position: relative; 
    left: 8em; 
    bottom: 4em;
}

#aBild{
    display: none;
    width: 4em;
    height: 4em;
    float: right;
    position: relative; 
    left: 4em;
    bottom: 10em; ;

}
#vBild{
    display: none;
    width: 5em;
    height: 4em;
    position: relative; 
    right: 8em;
    bottom: 8em;
}


#hoverPics{
    position: absolute;
}


.animate{
    margin-bottom: 5em;
}




#kontakt{
    width: 80%;
    border: solid rgb(47,88, 99);
    border-radius: 2em;
    margin: 2em;
    text-align:justify;
    padding: 3em;
    font-size: 1em;
    margin-right: 40em;

} 

#meddrubrik{
    font-size: 1.5em;
}

label{
    margin: 2em;

}

input{
    margin-left: 2em;
    margin-bottom: 1em;
}

textarea{
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 0.4em;
    width: 30em;
    height: 10em;
}

#submit{
    color: rgb(47, 88, 99);
    padding: 0.6em 2em;
}
#vBild{
    display: none;
    width: 4em;
    height: 4em;
    float: right;
    position: relative; 
    right: 35em;
}

#astapel1{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 20em;
    margin-bottom: 2em;
}
#astapel2{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 10em;
    margin-bottom: 2em;
}
#astapel3{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 10em;
    margin-bottom: 2em;
}
#astapel4{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 60em;
    margin-bottom: 2em;
}
#astapel5{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 10em;
    margin-bottom: 2em;
}
#amanda{
    float: left;

}
#dataMeny{
    border-style: solid;
    border-color:rgb(47,88, 99);
    text-align: center;
}
/*

@media screen and (min-width: 768px){
    #menu{
        display: none;
    }
    .show{
        display: inline;
    }
    li{
        display: inline;
        padding-right: 1,5em;
    
    #myLinks{
        text-align: center;
    }
    
}
*/

@media screen and (max-width: 765px) {
#bild1{
    display: none;
}
#bild2{
    display: none;
}
#bild3{
    display: none;
}
#kontakt{
    width: 70%;
    margin:0em;
    font-size: 1em;
}
.inputs{
    width: 60%;
}

#kontakt-forms label{
    font-size: 80%;
}
#meddrubrik{
    font-size: 100%;
}


    
}


/* Jontes sida */

#jontebild{

    width: 15em;
    height: 23em;
    margin: 2em;
    float: left;
}

#jtext{

    font-size: 2em;
    margin-bottom: 11em;

}

#jstapel1{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 40em;
    margin-bottom: 2em;
}

#jstapel2{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 10em;
    margin-bottom: 2em;
}

#jstapel3{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 25em;
    margin-bottom: 2em;
}

#jstapel4{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 35em;
    margin-bottom: 2em;
}

#jstapel5{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 70em;
    margin-bottom: 2em;
}

a {
    color: rgb(47, 88, 99);
    text-decoration: underline;
    margin-right: 1em;
}

.diagram{
    width: 600px;
    height: 300px;
    display: block;
}


/*
#testdiagram{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: coral;

}

.nummer{
    color: black;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 100%;
    display: inline-block;
}

#nummer li{
    list-style: none;
    height: 150px;
    position: relative;
    bottom: 145px;
}

#staplar{
    color: darkblue;
    font-size: 12px;
    font-weight: 600;
    background: darkorchid;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

#staplar li{
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}

#staplar span{
    width: 100%;
    position: absolute;
    bottom: -310px;
    text-align: center;
    display: block;
}
.sta li{
    background: darkblue;
    width: 30px;
    height: 100px;
    position: absolute;
    bottom: 0%;
}


#vstapel2{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 30em;
    margin-top: 2em;
}

#vstapel3{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 58em;
    margin-top: 2em;
}

#vstapel4{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 18em;
    margin-top: 2em;
}

#vstapel5{
    border: 0.3em cornflowerblue solid;
    background-color: cornflowerblue;
    margin-right: 20em;
    margin-top: 2em;
*/
